@import url(../font/stylesheet.css);

body {
  font-family: 'Copperplate Gothic Std';
  background: #fff;
  padding: 0;
  color: #000;
}

.name-title {
  font-size: 53px;
  font-weight: bold;
  font-style: italic;
  position: relative;
  padding-top: 36px;
}

.top-bo {
  position: relative;
  padding: 55px 0 40px;
  z-index: 1;
}

.top-bo::before {
  content: "";
  background-color: #809ba8;
  height: 57px;
  position: absolute;
  width: 40px;
  top: 0;
  border-radius: 0px 0px 7px 7px;
  left: 12px;
}

.top-bo::after {
  content: "";
  background-color: #809ba8;
  height: 181px;
  position: absolute;
  width: 35px;
  bottom: 0;
  border-radius: 7px 7px 0px 0px;
  left: 12px;
  z-index: -1;
}

.position {
  background-color: #809ba8;
  display: inline-block;
  padding: 6px 20px;
  font-size: 23px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 10px;
  color: #fff;
  width: 100%;
  letter-spacing: 4px;
  border-radius: 5px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}



.section-title {
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 0px;
  letter-spacing: 1px;
  position: relative;
  font-size: 26px;
  margin: 0;
}

.section-title::before {
  content: "";
  position: absolute;
  bottom: -3px;
  background-color: #c8c7c5;
  left: 0;
  right: 0;
  height: 2px;
  z-index: -1;
}

.line {
  height: 4px;
  background-color: #809ba8;
  width: 40px;
  margin-bottom: 15px;
  position: relative;
}

.education-year,
.experience-year {
  float: right;
  font-weight: bold;
  color: #809ba8;
}

.box {
  border: 3px solid #809ba8;
  padding: 20px;
}

p strong {
  color: #809ba8;
}

ul {
  padding-left: 20px;
}

ul li {
  margin-bottom: 8px;
}

.contact-info {
  padding-top: 44px;
}

.contact-info a {
  text-decoration: none;
  color: inherit;
  display: block;
  margin-bottom: 5px;
  padding-left: 10px;
  font-size: 18px;
}

.contact-info a i {
  color: #fff;
  width: 35px;
}

.contact-info a:hover {
  text-decoration: underline;
}

.profile-img {
  max-width: 100%;
  padding: 4px;
  width: 100%;
  border-radius: 24px;
  border-radius: 25px;
}

.qualifications {
  list-style: none;
  padding: 0;
}

.qualifications li::before {
  content: "- ";
}

.highlight-link {
  text-decoration: underline;
  color: #000;
}

.about-section {
  font-size: 14px;
}

.resume-sec .img-profile {
  text-align: end;
  margin-bottom: 30px;
  position: relative;
  border: 4px solid #809ba8;
  padding: 4px;
  width: 229px;
  border-radius: 25px;
  padding: 14px 14px;
  margin: 0 0 0 auto;
}

.resume-sec .img-profile::before {
  content: "";
  background-color: #809ba8;
  position: absolute;
}

.resume-sec .img-content {
  position: relative;
  margin: 0 0 34px;
}

.resume-sec .img-content::before {
  content: "";
  position: absolute;
  height: 4px;
  background-color: #809ba8;
  width: 425px;
  bottom: 0;
  left: -25px;
}

.side-content {
  padding-left: 20px;
}

@media only screen and (max-width: 1920px) {}

@media only screen and (max-width: 1599px) {}

@media only screen and (max-width: 1444px) {}

@media only screen and (max-width: 1399px) {}

@media only screen and (max-width: 1199px) {
  .name-title {
    font-size: 44px;
}
.resume-sec .img-profile {
  padding: 4px;
  width: 206px;
}
.side-content p,
.side-content ul li{
  font-size: 15px;
}
}

@media only screen and (max-width: 991px) {
  .name-title {
    font-size: 40px;
}
.position {
  padding: 6px 13px;
  font-size: 21px;
  letter-spacing: 2px;
  letter-spacing: 1px;
}
.resume-sec .img-profile {
  width: 196px;
}
.side-content p, .side-content ul li {
  font-size: 14px;
}
.section-title {
  font-size: 15px;
}
.resume-sec .img-content::before {
  width: 370px;
}
}

@media only screen and (max-width: 768px) {
  .resume-sec .img-content::before {
    width: 0;
  }

  .name-title {
    font-size: 44px;
    padding-top: 10px;
  }

  .position {
    padding: 6px 20px;
    font-size: 21px;
    letter-spacing: 2px;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .resume-sec .img-profile {
    margin: 0 auto 0;
  }

  .side-content {
    padding-left: 0;
  }

  .top-bo::after {
    height: 35px;
  }

  .contact-info {
    margin-top: 16px;
    margin-bottom: 10px;
    position: relative;
    padding: 10px 0 2px;
  }

  .contact-info::before {
    content: "";
    background-color: #809ba8;
    position: absolute;
    width: 35px;
    bottom: 0;
    top: 0;
    border-radius: 7px;
    left: 0;
    z-index: -1;
  }
  .top-bo::before {
    height: 35px;
}
.top-bo {
  padding: 30px 0 40px;
}
.resume-sec .img-content {
  margin: 0 0 15px;
}
}

@media only screen and (max-width: 576px) {}

@media only screen and (max-width: 414px) {}

@media only screen and (max-width: 376px) {}